<%= form_with model: @task do |f| %>
  <%= f.hidden_field :completed, value: false %>
  <div>
    <%= f.label :description, class: 'sr-only' do %>
      Task description
    <% end %>
    <%= f.text_field :description, autofocus: true, placeholder: 'What needs to be done?' %>
  </div>
  <%= f.submit(class: 'hidden') %>
<% end %>