<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>TodomvcRails7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-pink-50 text-sm lg:text-base">
    <div class="container mx-auto">
      <div class="flex flex-row justify-center gap-2">
        <%= render "shared/sidebar" %>
        <main class="px-2 lg:px-5 flex h-full justify-center">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
